* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    font-family: 'Arvo', serif;
}

header {
    width: 100%;
}

.header__navigation {
    border: 0.1rem solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}